<script setup>
</script>

<template>
  <main>
    <div class="title">
      <img alt="logo" class="logo kotera-logo" width="48" height="48"/>
      <p><span style="color: var(--vt-c-kotera); font-weight: 600;">KoteraHQ. </span>Building tools for Roblox game development.</p>
    </div>

    <div class="lib-list scroll">
      <li><RouterLink to="/koute">
          <img alt="Koute logo" class="logo" src="/assets/koute/logo.svg" width="64" height="64" />
          <p class="body" style="color: var(--vt-c-koute);">Koute</p>
          <p class="subheadline">Routing Library for Fusion</p>
      </RouterLink></li>
      <li><RouterLink to="/cmd">
          <img alt="Commander logo" class="logo" src="/assets/cmd/logo.svg" width="64" height="64" />
          <p class="body" style="color: var(--vt-c-cmd);">Commander</p>
          <p class="subheadline">Administration Panel for Roblox</p>
      </RouterLink></li>
      <li><RouterLink to="/lucide">
          <img alt="Lucide logo" class="logo" src="/assets/lucide/logo.svg" width="64" height="64" />
          <p class="body" style="color: var(--vt-c-lucide);">Lucide</p>
          <p class="subheadline">Unofficial Icons Picker for Roblox</p>
      </RouterLink></li>
    </div>
  </main>
</template>

<style scoped>
main {
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.title .logo {
  margin-right: .7rem;
}

.kotera-logo {
  mask-image: url(/assets/logo.svg);
  mask-size: cover;
  -webkit-mask-image: url(/assets/logo.svg);
  -webkit-mask-size: cover;
  
  background-color: var(--vt-c-kotera);
}

.title p {
  padding: 0 0.5rem;
  font-weight: 400;
  color: var(--color-text-less);
  font-size: 2rem;
  text-align: left;
}

.lib-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.lib-list>li {
  background-color: var(--color-background-soft);
  margin-right: 1rem;
  padding: 3rem 2rem;
  border-radius: 8px;
  min-width: 420px;
  box-shadow: var(--vt-shadow);
}
.lib-list:last-child {
  margin-right: 0;
}

.body {
  font-size: 1.25rem;
  font-weight: 600;
}

.subheadline {
  font-size: 1.25rem;
  font-weight: 400;
}

@media only screen and (max-width: 860px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .title {
    display: block;
  }

  .title .logo {
    margin-right: 0;
  }
}

</style>